 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #F8FAFD;
  color: #555555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;/*renderiza a fonte para melhor leitura*/
  font-size: 20px ;
  width: 100%;
  height: 100%;
}
/*body {
  overflow-x: hidden;  
}*/

.left-side {
  width: 125%;
}

.right-side {
  width: 80%;
}

.right-side table {
  width: 100%;
}
.right-side table th,
.right-side table td {
  text-align: center;
  font-size: 0.5rem;
}
.right-side table th {
  background-color: #F9FAFB;
  font-size: 0.6rem;
}
.right-side table button {
  cursor: pointer;
}

.btn{
  background: none;
  border: 1px solid rgba(245, 235, 235, 0.849);
  padding: 5px 5px;
  outline: none;
  border-radius: 1rem;
}
.red-btn,
.green-btn{
  background: #059669;
  color: #ffffff;
}
.red-btn{
  background-image: linear-gradient(95deg,#db132e ,#d4123c 90%);
}
.default-btn{
  background: #3667c7;
}
.btn:hover{
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
input {
  text-rendering: auto;
  color: -internal-light-dark(#0432b1 ,#610f86);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 10px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 2px;
}