
  
  .insertForm input {
    width: 10%;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 200px;
    justify-content: center;
    justify-items: center;
  }
  
  .insertForm [type="submit"] {
    margin-top: 20px;
    color: #ffffff;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 50%;
    width: 50%;
    background-color: #F9FAFB;
    border: 1px solid #cccccc;
    padding: 0px;
    border-spacing: 2rem;
  }
  
  .insertForm [type="submit"]:hover {
    box-shadow: 0 10px 15px -3px rgba(86, 111, 117, 0.938), 0 4px 6px -1px rgba(66, 33, 214, 0.05);
    border-radius: 20px;
  }
 
  form p {
    text-align: center;
    padding: 2rem;
    margin-top: 5rem;
  }
  #_fname{
    width: 46.5%;
  }
  #_lname{
    width: 46.5%;
  }
  #_rg{
    width: 29.8%;
  }
  #_orgao{
    width: 29.8%;
  }
  #_cpf{
    width: 29.8%;
  }
  #_telefone{
    width: 29.8%;
  }
  #_datan{
    width: 29.8%;
  }
  #_nacionalidade{
    width: 29.8%;
  }
  #_npai{
    width: 46.5%;
  }
  #_nmae{
    width: 46.5%;
  }
  #_ecivil{
    width: 46.5%;
  }
  #_regime{
    width: 46.5%;
  }
  #_email{
    width: 96%;
    margin-bottom: 3rem;
  }
  .endereco{
    text-align: center;
    align-items: center;
    padding: 2rem;
    margin-top: 10rem;
    margin-left: 24rem;
  }
  #_cep{
    width: 46.5%;
  }
  #_logradouro{
    width: 46.5%;
  }
  #_numero{
    width: 46.5%;
  }
  #_complemento{
    width: 46.5%;
  }
  #_bairro{
    width: 46.5%;
  }
  #_cidade{
    width: 46.5%;
  }
  #_estado{
    width: 46.5%;
  }
  #_pais{
    width: 46.5%;
  }
  #submit-form{
    width: 15%;
    padding: 0.6rem;
    margin-top: 3rem;
    background-image: linear-gradient(95deg,#0432b1 ,#610f86 90%);
    transform: translate(-50%, -50%);
    border-radius: 100px;
    text-align: center;
  }
  input:focus { 
    outline: none !important;
    border-color: 100px solid #3f6fa1;
    box-shadow: 0 0 10px #3f6fa1;
}
textarea:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

  